/* experiment with gradients */
.grad-gray-dtl {
    background: gray; /* For browsers that do not support gradients */
    background: linear-gradient(90deg,
                                #BEBEBE 10%,
                                #C8C8C8 35%,
                                LightGray 50%,
                                Gainsboro 65%,
                                #E8E8E8 90%); /* Standard syntax */
}
.grad-gray-ltd {
    background: gray; /* For browsers that do not support gradients */
    background: linear-gradient(90deg,
                                #E8E8E8 10%,
                                Gainsboro 35%,
                                LightGray 50%,
                                #C8C8C8 65%,
                                #BEBEBE 90%); /* Standard syntax */
}
.round-corners-l {
    border-radius: 5px 0px 0px 5px;
}
.round-corners-r {
    border-radius: 0px 5px 5px 0px;
}
.dk-gry {
    background-color: #BEBEBE; /* Standard syntax */
}
.lt-gry {
    background-color: #E8E8E8; /* Standard syntax */
}


/* Debug styles */
.debug {
  border: 1px;
  border-color: black;
  border-style: solid;
}

/* Sticky footer styles */
html {
  min-height: 100%;
  position: relative;
}
body {
  /*this is getting overwritten for some reason by normalize.css. workaround: styles on the body in the base template*/
  margin-bottom: 4rem;
}
.footer {
  bottom: 0;
  height: 4rem;
  position: absolute;
  width: 100%;
}




/*BACKGROUND COLORS*/
/*DARK*/
.bkdcolor-dk-red {
background-color:#ff0000;
}
.bkdcolor-dk-yel {
background-color:#ffff00;
}
.bkdcolor-dk-blu {
background-color:#0000ff;
}

/*LIGHT*/
.bkdcolor-lt-red {
background-color:#ff7f7f;
}
.bkdcolor-lt-yel {
background-color:#fffd7f;
}
.bkdcolor-lt-blu {
background-color:#7f7fff;
}
.bkdcolor-lt-gra {
background-color:#bfbfbf;
}

/*TEXT COLORS*/
/*DARK*/
.color-dk-red {
color:#ff0000;
}
.color-dk-yel {
color:#ffff00;
}
.color-dk-blu {
color:#0000ff;
}

/*LIGHT*/
.color-lt-red {
color:#ff7f7f;
}
.color-lt-yel {
color:#fffd7f;
}
.color-lt-blu {
color:#7f7fff;
}
.color-lt-gra {
color:#bfbfbf;
}

