<!-- https://docs.djangoproject.com/en/1.9/topics/class-based-views/generic-display/ -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body">
				{% for argument in object_list %}
				<div class="row">
					<div class="panel panel-primary" id="argument-box">
						<div class="panel-heading">Argument</div>
						<div class="panel-body">
							{% include "claims/argument.html" %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

