{# The Argument Box #}


<div id="argument-box" class="card card-outline-success mb-4">
  <div class='card-header bg-success'>Argument</div>
  <div class="card-block">
    <h4 class="card-title">
      <a id="argument-name"
        data-argument-id="{{ argument.id }}"
        contenteditable="false"
        href="{% url 'viewArgument' argument.id %}">
        {{ argument.name }}
      </a>
    </h4>
    <div class="d-flex">
      <div class="d-flex w-25">
        {% include "claims/claim-sm.html" with claim=argument.supported_claim %}
      </div>
      <div class="d-flex w-75">
        {% for claim in argument.premise_claims.all %}
          <div class="d-flex w-50">
            {% if forloop.first %}
              <span class="align-self-center fa fa-2x fa-arrow-left mx-4"></span>
            {% else %}
              <span class="align-self-center fa fa-2x fa-plus mx-4"></span>
            {% endif %}
            {% include "claims/claim-sm.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
