<!-- https://docs.djangoproject.com/en/1.9/topics/class-based-views/generic-display/ -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
  <div id="claim_single">
    <claim-box v-for="claim in claims"
           :claim="claim"
           :user="user">
    </claim-box>
    <div class="d-flex flex-row">
      <div class="d-flex flex-column w-100">
        <i class="fa fa-arrow-up fa-2x d-inline-flex align-self-center mb-2"
           style="color:#3498db"
           aria-hidden="true">
        </i>
        <div id="supporting-arguments"
             class="card-block border pt-2">
          abs
        </div>
      </div>
      <div style="width: 50px">
      </div>
      <div class="d-flex flex-column w-100">
        <i class="fa fa-arrow-down fa-2x d-inline-flex align-self-center mb-2"
           style="color:#f1c40f"
           aria-hidden="true">
        </i>
        <div id="supporting-arguments"
             class="card-block border pt-2">
          abs
        </div>
      </div>
    </div>
  </div>



<!-- Begin Vue.js stuff -->
{% include "claims/vue_templates.html" %}


<!-- Pull in data for Vue.js -->
<script id="test_json" type="text/javascript">
vm_config = {
  el: '#claim_single',
  data: {
    user: {
      id: '{{ user.id }}',
    },
    claims: [
      {% for vue_claim in vue_claims %}
        {
          id: '{{ vue_claim.claim.id }}',
          name: '{{ vue_claim.claim.name }}',
          content: '{{ vue_claim.claim.content }}',
          affirmation_id: '{{ vue_claim.affirmation.id }}',
          num_affirmations: '{{ vue_claim.num_affirmations }}',
          editing: false,
          url: '{% url 'ClaimView' vue_claim.claim.id %}',
          type: '{{ vue_claim.type }}',
        },
      {% endfor %}
    ],
  }
};
</script>

<!-- Run Vue.js Javascript -->
<script src="{% static 'js/claim_single.js' %}"></script>

{% endblock %}
