<!-- The Claim Box -->


<div id="claim-box" class="card card-outline-primary mb-4">
    <div class="card-block d-flex">
        <div class="text-center d-flex flex-column justify-content-start pr-3">
            <span id = "claim-affirmation"
                data-affirmation-id="{{ affirmation.id }}"
                data-claim-id="{{ claim.id }}"
                class="fa pb-2 fa-2x
                       {% if affirmation %} fa-check
                       {% else %} fa-plus
                       {% endif %}">
            </span>
            <h4 id = "num-affirmations"
                class="m-0">
                {{ num_affirmations }}
            </h4>
        </div>
        <div>
            <h4 class="card-title">
                <a id="claim-name"
                    data-claim-id="{{ claim.id }}"
                    contenteditable="false"
                    href="{% url 'viewClaim' claim.id %}">
                    {{ claim.name }}
                </a>
            </h4>
            <p id="claim-content"
               class="card-text"
                data-claim-id="{{ claim.id }}"
                contenteditable="false">
                {{ claim.content }}
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        {% if user.is_authenticated %}
            <div class='btn-toolbar align-self-start ml-auto'>
                <button type='button' id="edit-claim" class='btn btn-primary btn-sm'>Edit</button>
            </div>
        {% endif %}
    </div>
</div>
