<!-- The Claim Box -->

<div id="claim-box" class="mb-4">
  <div class="card-block d-flex border">
    <div class="d-flex">
      <div class="p-3">
        <h4 class="align-self-center mb-0">
          <a id="claim-name"
            data-claim-id="{{ claim.id }}"
            contenteditable="false"
            style="color: black;"
            href="{% url 'viewClaim' claim.id %}">
            [[claim_name]]
          </a>
        </h4>
      </div>
    </div>
    <!-- <div class='text-center align-self-center col-1'></div> -->
    <div class="card-text d-flex p-3 border-lr">
      <p id="claim-content"
        class="mb-0"
        data-claim-id="{{ claim.id }}"
        contenteditable="false">
        [[ claim_content ]]
      </p>
    </div>
    <nav class="nav flex-column">
      <a class="nav-link"
          v-if="[[affirmation_id]] == ''"
          v-on:click="toggleAffirmation">
        Agree
      </a>
      <a class="nav-link"
          v-else
          v-on:click="toggleAffirmation">
        Un-Agree
      </a>
      <a class="nav-link" href="#">Support</a>
      <a class="nav-link"
          v-if="editing"
          href="#">
        Save
      </a>
      <a class="nav-link"
          v-if="!editing"
          v-on:click="toggleEditing"
          href="#">
        Edit
      </a>
      <a class="nav-link"
          v-on:click="toggleEditing"
          v-else
          href="#">
        Done
      </a>
    </nav>
  </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous">
</script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

var claimbox = new Vue({
  el: '#claim-box',
  data: {
    user_id: '{{ user.id }}',
    claim_id: '{{ claim.id }}',
    claim_name: '{{ claim.name }}',
    claim_content: '{{ claim.content }}',
    affirmation_id: '{{ affirmation.id }}',
    num_affirmations: '{{ num_affirmations }}',
    editing: false
  },
  methods: {
    toggleEditing: function () {
      // this.message = this.message.split('').reverse().join('');
      if (this.editing === false) {
        $('#claim-name, #claim-content').attr("contenteditable", "true");
        this.editing = true;
      }
      else {
        $('#claim-name, #claim-content').attr("contenteditable", "false");
        this.editing = false;
      }
    },
    toggleAffirmation: function() {
      if (this.affirmation_id === '') {
        console.log("hi!");
        var data = JSON.stringify({ "claim" : this.claim_id, "user" : this.user_id, "csrf_token" : csrftoken });
        console.log(data);
        $.ajax({
          "type": "POST",
          "dataType": "json",
          "url": "http://localhost:8000/api/affirmations/",
          "data": data,
          "contentType": "application/json",
          "success": function(result) {
             console.log("Posted!");
          },
        });
      }
      else {
        console.log("nop");
        var url = "http://localhost:8000/api/affirmations/".concat(this.affirmation_id.toString()).concat("/");
        $.ajax( {
            "type": "DELETE",
            "url": url,
            "success": function(result) {
               console.log("Deleted!");
            },
        });
      }
    }
  }
});

</script>
