<!-- https://docs.djangoproject.com/en/1.9/topics/class-based-views/generic-display/ -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-body">
				{% for claim in object_list %}
					<div class="row">
						<div class="col-md-12">
							<div class="well well-lg" id="claim-box">
							{% include "claims/claim.html" %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

