{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="app">
  <h2>Hi, {{ request.user }}!</h2>
  <h4>Here are your recommended conclusions:</h4>

    <claim-box
      v-for="claim in claims"
      v-if="claim.type == 'recd_concl'"
      :claim="claim"
      :user="user">
    </claim-box>

  <h4>Here are your recommended premises:</h4>

    <claim-box
      v-for="claim in claims"
      v-if="claim.type == 'recd_premis'"
      :claim="claim"
      :user="user">
    </claim-box>

</div>


  {% include "claims/vue_templates.html" %}

  <!-- Pull in data for Vue.js -->
  <script id="test_json" type="text/javascript">
    vm_config = {
      el: '#app',
      data: {
        user: {
          id: '{{ user.id }}',
        },
        claims: [
          {% for vue_claim in vue_claims %}
            {
              id: '{{ vue_claim.claim.id }}',
              name: '{{ vue_claim.claim.name }}',
              content: '{{ vue_claim.claim.content }}',
              affirmation_id: '{{ vue_claim.affirmation.id }}',
              num_affirmations: '{{ vue_claim.num_affirmations }}',
              editing: false,
              type: '{{ vue_claim.type }}',
            },
          {% endfor %}
        ],
      }
    };
  </script>

  <script src="{% static 'js/recommendations.js' %}"></script>

{% endblock %}

