<!-- https://docs.djangoproject.com/en/1.9/topics/class-based-views/generic-display/ -->

{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
	<div class="box">
		<div class="columns">
			<div class="column is-12">
				<h2><strong>Claim</strong></h2>
			</div>
		</div>
		<div class="columns">
			<div class="column is-8">
				<div class="box">
					<article class="media">
						<div class="media-left">
							<div class="affirm_button fa fa-plus icon is-medium" id="affirm_button">
							</div>
							<p style="font-size:20px ; text-align: center ; margin:0">
							{{ affirmations }}
							{# {{ claim.affirmation }} #}
							</p>
						</div>
						<div class="media-content">
							<div class="content">
								<p>
								<strong><a style="font-size:20px" href="{% url 'viewClaim' claim.id %}">{{ claim.name }}</a></strong>
								<br>
								{{ claim.content }}
								</p>
								<small>Contributed by: {{ contrib_user_name }}</small>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="column is-4">
				<h3>Definitions</h3>
				<div class="box">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<p>
								<strong><a style="font-size:20px" href="{% url 'viewClaim' claim.id %}">This Term</a></strong>
								<br>
								This term appears in the claim at left but appears elsewhere with a (hopefully slightly) different meaning. This is where the precise definition used here appears.
								</p>
								<small>Contributed by: {{ contrib_user_name }}</small>
							</div>
						</div>
					</article>
				</div>
				<div class="box">
					<article class="media">
						<div class="media-content">
							<div class="content">
								<p>
								<strong><a style="font-size:20px" href="{% url 'viewClaim' claim.id %}">This Other Term</a></strong>
								<br>
								This other term appers in the claim at left and requires a little bit more detail.
								</p>
								<small>Contributed by: {{ contrib_user_name }}</small>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="columns">
		<div class="column is-8">
			<div class="box">
				<h3><strong>Arguments in Favor</strong></h3>
				<div class="box">
					<article class="media">
						<div class="media-left">
							<div class="affirm_button fa fa-plus icon is-medium" id="affirm_button">
							</div>
							<p style="font-size:20px ; text-align: center ; margin:0">
							{{ affirmations }}
							{# {{ claim.affirmation }} #}
							</p>
						</div>
						<div class="media-content">
							<div class="content">
								<p>
								<strong><a style="font-size:20px" href="{% url 'viewClaim' claim.id %}">{{ claim.name }}</a></strong>
								<br>
								{{ claim.content }}
								</p>
								<small>Contributed by: {{ contrib_user_name }}</small>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="column is-4">
			<div class="box">
				<h3><strong>Ethoi</strong></h3>
				<p>?!?! These are TBD</p>
			</div>
		</div>
	</div>

<!-- <script type="text/javascript">
	// 	var affirm_claim = function() {
	// 		var name = $("#name").val()
	// 		var slug = $("#slug").val()
	// 		if (name != "" && slug != "") {
	// 			var data = { name:name, slug:slug };
	// 			var args = { type:"POST", url:"/browseClaims/", data:data, complete:done };
	// 		$.ajax(args);
	// 		}
	// 		else {
	// 			// display an explanation of failure
	// 		}
	// 		return false;
	// 	};
	</script>-->
 {% endblock %}

<!-- style="padding:0; margin:0" -->
<!--  -->
