{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
            <h1>About</h1>
            <h1>FAQ</h1>
            <h4>How does Ethos compare to the Stanford Encyclopedia of Philosophy?</h4>
            <p class="lead">The SEP is a scholarly, dynamic, online reference work (a new kind of reference work). It aims to facilitate the finding of authoritative, comprehensive, up-to-date, information about important philosophical concepts.
            </p>
            <p class="lead">Reference works are used to quickly find reliable information. The articles are written by experts and are peer-reviewed (like an academic journal). The articles are are updated over time based on new research (unlike an academic journal). The articles are connected to one another by hyperlinks (like a wiki). Articles can be cited because fixed editions are created on a quarterly basis.</p>
            <p class="lead">The SEP has raised $1.844M in grants, mostly from the NEH (<a href="http://www.neh.gov">National endowment for the Humanities</a>), but also including the NSF, the Andrew W. Mellon Foundation, and the William and Flora Hewlett Foundation.</p>
            <p class="lead">Ethos is a dynamic network of claims, arguments, and belief systems. Claims are all the things that anyone suspects or accepts as true. Arguments connect beliefs to one another. Ethoi are networks of beliefs and arguments. There are no restrictions on who can make a claim or argument. Articles are connected to one another by hyperlinks and by arguments. The claims and arguments of others are used to programatically identify areas of conflict is one's own views.</p>
            <p class="lead">Ethos has not raised any money yet. It also does not exist. It'll probably cost $2M.</p>
            <h4>How dynamioc is Ethos?</h4>
            <p class="lead">Articles can be updated to add clarity, but the content and scope of a claim cannot be changed.</p>

            <hr class="dark">

            <hr class="dark">
            <p class="lead">But it also allows us to escape and modify those spaces.</p>
			<p class="lead">Not all truths are proveable.</p>
            <p class="lead">Hopefully they are beautiful.</p>
            <hr class="dark">
            <p class="lead">Webapp as an 'installation'.</p>
            <p class="lead">A 'space'.</p>
            <p class="lead">A 'building'.</p>
            <hr class="dark">
            <p class="lead">Users as the 'moveable type'.</p>
            <hr class="dark">
            <p class="lead">Dialogical logic is the research tradition, traceable back to Greek antiquity, in which logic is conceived as the systematic study of dialogues in which two parties exchange arguments over a central claim.</p>
            <p class="lead">This is NOT dialogical.</p>
            <p class="lead">It is constructive, colaborate, and aesthetic.</p>
            <hr class="dark">
            <p class="lead">Games happen in the spaces that are created by tradition, architects and rules.</p>
            <p class="lead">Reason does too.</p>
            <p class="lead">But it also allows us to escape and modify those spaces.</p>
            <hr class="dark">
		</div>
	</div>
{% endblock %}





















