{% extends "base.html" %}

{% block content %}
	<div class="col-sm-8 col-sm-offset-2">
        <h1>About</h1>
        <h1>FAQ</h1>

        <h4>How does Ethos compare to Wikipedia?</h4>
        <p class="lead">Wikipedia is a free, publicly editable, online encyclopedia developed with a goal of creating a summary of all human knowledge. Its english site has 5.2M articles and is ranked among the top 10 most popular websites, above the New York Times. It is critiqued for being biased and inaccurate.
        </p>
        <p class="lead">Wikipedia started off totally open. It now "protects" and "locks" articles if they are particularly prone to vandalism.
        </p>
        <p class="lead">Ethos seeks to create a summary of human belief in the form of an online graph database.
        </p>
        <p class="lead">Ethos will need to figure out how open it is. And whether individual profiles play a role at all. They probably shouldn't. It should probably be a collaborate effort to construct a single graph, not a graph of graphs.
        </p>
        <p class="lead">
        </p>

        <h4>How does Ethos compare to Google's Knowledge Graph?</h4>
        <p class="lead">Google's Knowledge Graph is a knowledge base (technology used to structure complex structured and unstructured information) used by Google to enhance its search results.
        </p>
        <p class="lead">Ethos is a graph of people and ideas used to enhance its users' understandings of themselves and each other.

        <h4>How does Ethos compare to Stack Exchange?</h4>
        <p class="lead">Stack Exchange is...
        </p>
        <p class="lead">
        </p>
        <p class="lead">
        </p>
        <p class="lead">
        </p>

        <h4>How does Ethos compare to the Stanford Encyclopedia of Philosophy?</h4>
        <p class="lead">The SEP is a free, scholarly, dynamic, online reference work (a new kind of reference work). It aims to facilitate the finding of authoritative, comprehensive, up-to-date, information about important philosophical concepts.
        </p>
        <p class="lead">Reference works are used to quickly find reliable information. The articles are written by experts and are peer-reviewed (like an academic journal). The articles are are updated over time based on new research (unlike an academic journal). The articles are connected to one another by hyperlinks (like a wiki). Articles can be cited because fixed editions are created on a quarterly basis.</p>
        <p class="lead">The SEP has raised $1.844M in grants, mostly from the NEH (<a href="http://www.neh.gov">National endowment for the Humanities</a>), but also including the NSF, the Andrew W. Mellon Foundation, and the William and Flora Hewlett Foundation.</p>
        <p class="lead">Ethos is a dynamic network of claims, arguments, and belief systems. Claims are all the things that anyone suspects or accepts as true. Arguments connect beliefs to one another. Ethoi are networks of beliefs and arguments. There are no restrictions on who can make a claim or argument. Articles are connected to one another by hyperlinks and by arguments. The claims and arguments of others are used to programatically identify areas of conflict is one's own views.</p>
        <p class="lead">Ethos has not raised any money yet. It also does not exist. It'll probably cost $2M.</p>

        <h4>How dynamic is Ethos?</h4>
        <p class="lead">Articles can be updated to add clarity, but the content and scope of a claim cannot be changed.</p>

        <h4>How stigmergic is Ethos?</h4>
        <p class="lead">It's (hopefully going to be) very stigmergic.</p>
        <p class="lead">Stigmergy is a mechanism of indirect coordination, through the environment, between agents or actions. The principle is that the trace left in the environment by an action stimulates the performance of a next action, by the same or a different agent. In that way, subsequent actions tend to reinforce and build on each other, leading to the spontaneous emergence of coherent, apparently systematic activity.</p>
        <p class="lead">Stigmergy is a form of self-organization. It produces complex, seemingly intelligent structures, without need for any planning, control, or even direct communication between the agents. As such it supports efficient collaboration between extremely simple agents, who lack any memory, intelligence or even individual awareness of each other.</p>
        <p class="lead">When stigmergy is achieved among complex agents who have memory, intelligence, and individual awareness of each other, good things can happen. Wikipedia is an example of this.</p>

        <hr class="dark">

        <hr class="dark">
        <p class="lead">But it also allows us to escape and modify those spaces.</p>
		<p class="lead">Not all truths are proveable.</p>
        <p class="lead">Hopefully they are beautiful.</p>
        <hr class="dark">
        <p class="lead">Webapp as an 'installation'.</p>
        <p class="lead">A 'space'.</p>
        <p class="lead">A 'building'.</p>
        <hr class="dark">
        <p class="lead">Users as the 'moveable type'.</p>
        <hr class="dark">
        <p class="lead">Dialogical logic is the research tradition, traceable back to Greek antiquity, in which logic is conceived as the systematic study of dialogues in which two parties exchange arguments over a central claim.</p>
        <p class="lead">This is NOT dialogical.</p>
        <p class="lead">It is constructive, colaborate, and aesthetic.</p>
        <hr class="dark">
        <p class="lead">Games happen in the spaces that are created by tradition, architects and rules.</p>
        <p class="lead">Reason does too.</p>
        <p class="lead">But it also allows us to escape and modify those spaces.</p>
        <hr class="dark">
	</div>
{% endblock %}





















