{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- The below 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>{% block head_title %}Ethos{% endblock %}</title>

    {% include 'base_js_head.html' %}
    {% include 'base_css_head.html' %}
  </head>
  <body class='mb-4'>
    <div id="app">
      {% include 'navbar.html' %}
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
      {% include 'footer.html' %}
    </div>
    {% include 'base_js_body.html' %}
  </body>
</html>









<template id="claim-box-template">
  <div class="mb-2">
    <div class="card-block d-flex flex-column border">
      <div id="claim-header"
           class="d-flex justify-content-between
                  border-b mb-3">
        <h4 class="align-self-center">
          <a id="claim-name"
            style="color: black;"
            href="{% url 'viewClaim' claim.id %}">
            [[ claim.name ]]
          </a>
          <i class="fa fa-check"
             v-if="[[ claim.affirmation_id ]] == ''"
             v-on:click="toggleAffirmation"
             title="Click here if you agree with this claim!"
             style="color:#D5DBDB"
             aria-hidden="true">
          </i>
          <i class="fa fa-check"
             v-else
             v-on:click="toggleAffirmation"
             title="Click here to revoke your agreement with this claim!"
             style="color:#27ae60"
             aria-hidden="true">
          </i>
        </h4>
        <div class="claim-box-nav d-flex">
          <nav class="nav flex-row">
            <a class="nav-link"
                v-if="!claim.editing"
                v-on:click="toggleEditing"
                href="#">
              Edit
            </a>
            <a class="nav-link"
                v-if="claim.editing"
                v-on:click="saveClaim"
                href="#">
              Save
            </a>
            <a class="nav-link"
                v-show="claim.editing"
                href="{% url 'viewClaim' claim.id %}">
              Cancel
            </a>
          </nav>
        </div>
      </div>
      <div id="claim-content"
           class="card-text d-flex">
        <p class="align-self-center mb-0"
           v-if="!claim.editing">
          [[ claim.content ]]
        </p>
        <textarea class="w-100"
                  v-model="claim.content"
                  v-else="">
        </textarea>
      </div>
    </div>
  </div>
</template>


<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous">
</script>


<script type="text/javascript">

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

Vue.component('claim-box', {
  template: '#claim-box-template',
  props: ['claim','user'],
  methods: {
    toggleEditing: function () {
      if (this.claim.editing === false) {
        this.claim.editing = true;
      }
      else {
        this.claim.editing = false;
      }
    },
    cancelEditing: function () {
      // this.message = this.message.split('').reverse().join('');
      this.claim.editing = false;
    },
    toggleAffirmation: function() {
      if (!this.claim.affirmation_id) {
        console.log('blank');
        var data = JSON.stringify({ "claim" : this.claim.id, "user" : this.user.id, "csrf_token" : csrftoken });
        // console.log(data);
        element = this;
        $.ajax({
          "type": "POST",
          "dataType": "json",
          "url": "http://localhost:8000/api/affirmations/",
          "data": data,
          "contentType": "application/json",
          "success": function(result) {
            element.claim.affirmation_id = result.id;
            console.log("Affirmed!");
          },
        });
      }
      else {
        console.log('not blank');
        var url = "http://localhost:8000/api/affirmations/".concat(this.claim.affirmation_id.toString()).concat("/");
        element = this;
        $.ajax( {
            "type": "DELETE",
            "url": url,
            "success": function(result) {
              element.claim.affirmation_id = '';
              console.log("Un-Affirmed!");
            },
        });
      }
    },
    saveClaim: function() {
      var data = JSON.stringify({ "id" : this.claim.id,
                                  "name" : this.claim.name,
                                  "content" : this.claim.content,
                                  // "csrf_token" : csrftoken
                                });
      console.log(data);
      // console.log(data);
      element = this;
      $.ajax({
        "type": "PUT",
        "dataType": "json",
        "url": "http://localhost:8000/api/claims/".concat(this.claim.id).concat("/"),
        "data": data,
        "contentType": "application/json",
        "success": function(result) {
          element.claim.id = result.id;
          console.log("Claim Updated!");
        },
      });
      this.toggleEditing();
    }
  }
});

var vm = new Vue({
  el: '#app',
  data: {
    user: {
      id: '{{ user.id }}',
    },
    claims: [
      {
        id: '{{ claim.id }}',
        name: '{{ claim.name }}',
        content: '{{ claim.content }}',
        affirmation_id: '{{ affirmation.id }}',
        num_affirmations: '{{ num_affirmations }}',
        editing: false
      },
    ],
  },
});

</script>
