{% load staticfiles %}

<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<!-- Bootstrap core JavaScript
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- for X-Editable
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>
<script src="{% static 'bootstrap3-editable/js/bootstrap-editable.js' %}"></script>-->

<!-- javascript containing Django template tags -->
<script type="text/javascript">
    var user_id = {{ user.id }};
</script>

<!-- My Javascript File -->
<script src="{% static 'js/base.js' %}"></script>

<!-- For claim.html -->
<script src="{% static 'js/claim.js' %}"></script>
