{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome! | {{ block.super}}{% endblock %}

{% block jumbotron %}
	<div class="jumbotron">
	    <div class="container">

		<div class="row">
			<div class="col-sm-6">
				<h1>Welcome to Ethos!</h1>
				<p>This is a space designed to cultivate the effective exchange of ideas! This is a space designed to cultivate the effective exchange of ideas! This is a space designed to cultivate the effective exchange of ideas! This is a space designed to cultivate the effective exchange of ideas! This is a space designed to cultivate the effective exchange of ideas! </p>
				<p>
					<a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Get Started &raquo;</a>
				</p>
			</div>
			<div class="col-sm-6" style="background-color:black;min-height:315px;">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/b_29yvYpf4w" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		</div>
	</div>
{% endblock %}


{% block content %}
<!--     {% if request.user.is_authenticated %}
    <h1>You are logged in!</h1>

    	{% if queryset %}
    	<h2>Welcome Staff</h2>
    	{{ queryset }}
    	{% endif %}


	{% endif %}
 -->

{% endblock %}





















