{% load staticfiles %}

<!-- todo: get the right side of the navbar to align vertically -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded mb-4">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a href="#" class="navbar-brand pt-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <img src="{% static 'img/logo text.png' %}" style="height:18px"/>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      <a class="dropdown-item" href="{% url 'home' %}">Home</a>
      <a class="dropdown-item" href="{% url 'about' %}">About</a>
      <a class="dropdown-item" href="{% url 'meta' %}">Meta</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Claims</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'browseClaims' %}">Browse</a>
            <a class="dropdown-item" href="{% url 'contributeClaim' %}">Contribute</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arguments</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'browseArguments' %}">Browse</a>
            <a class="dropdown-item" href="{% url 'contributeArgument' %}">Contribute</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ request.user }} (+{{request.user.standarduser.authority}})
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="{% url 'recommendations' %}">Recommendations</a>
            <a class="dropdown-item" href="{% url 'auth_logout' %}">Logout</a>
          </div>
        </li>
        {% elif not "/accounts/login" in request.get_full_path %}
        <li class="nav-item dropdown">
          <a href="#" class="nav-link" data-toggle="dropdown">Login<strong class="caret"></strong></a>
          <div class="dropdown-menu">
            <form class='navbar-form mx-3 my-2' method='POST' action='{% url "auth_login" %}'>{% csrf_token%}
              <input type='text' class='form-control mb-3' name='username' placeholder='Username' />
              <input type='password' class='form-control mb-3' name='password' placeholder='Password' />
              <button type='submit' class='btn btn-primary'>Login</button>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registration_register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
